
        <header class="main-header">
            <nav class="main-nav nav">
                <ul>
                    <li><a href="">HOME</a></li>
                    <li><a href="store.html">STORE</a></li>
                    <li><a href="about.html">ABOUT</a></li>
                </ul>
            </nav>
            <h1 class="band-name band-name-large">BooksCart</h1>
            <div class="inner-form">
                <div class="input-field first-wrap">
                  <input id="search" type="text" placeholder="Search" />
                </div>
                <div class="input-field second-wrap">
                  <div class="input-select">
                    <select data-trigger="" name="choices-single-defaul">
                      <option placeholder="">CATEGORY</option>
                      <option>Book Title</option>
                      <option>Author</option>
                      <option>Domain</option>
                    </select>
                  </div>
                </div>
                <div class="input-field third-wrap">
                  <button class="btn-search" type="button">SEARCH</button>
                </div>
              </div>
        </header>
        <section class="container content-section">
            <h2 class="section-header">Enginnering Books</h2>
            <div class="shop-items">
                <div class="shop-item">
                    <span class="shop-item-title">DBMS</span>
                    <img class="shop-item-image" src="assets/images/DBMS.jpg">
                    <div class="shop-item-details">
                        <span class="shop-item-price">Rs 300</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">BME</span>
                    <img class="shop-item-image" src="assets/images/basics-of-mechanical-engineering.jpeg">
                    <div class="shop-item-details">
                        <span class="shop-item-price">Rs 250 </span>
                        <button class="btn btn-primary shop-item-button"type="button"> ADD TO CART</button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">COA</span>
                    <img class="shop-item-image" src="assets/images/COA.jpg">
                    <div class="shop-item-details">
                        <span class="shop-item-price">Rs 350</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">System Analysis</span>
                    <img class="shop-item-image" src="assets/images/SystemAnalysis.jpg">
                    <div class="shop-item-details">
                        <span class="shop-item-price">Rs 399.50</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
            </div>
        </section>
        <section class="container content-section">
            <h2 class="section-header">Other Books</h2>
            <div class="shop-items">
                <div class="shop-item">
                    <span class="shop-item-title">Atomic Habits</span>
                    <img class="shop-item-image" src="assets/images/Atomichabits.png">
                    <div class="shop-item-details">
                        <span class="shop-item-price">Rs 500</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">Think & Grow Rich</span>
                    <img class="shop-item-image" src="assets/images/thinkgrowrich.jpg">
                    <div class="shop-item-details">
                        <span class="shop-item-price">Rs 600</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
            </div>
        </section>
        <section class="container content-section">
            <h2 class="section-header">CART</h2>
            <div class="cart-row">
                <span class="cart-item cart-header cart-column">ITEM</span>
                <span class="cart-price cart-header cart-column">PRICE</span>
                <span class="cart-quantity cart-header cart-column">QUANTITY</span>
            </div>
            <div class="cart-items">
            </div>
            <div class="cart-total">
                <strong class="cart-total-title">Total</strong>
                <span class="cart-total-price">Rs 0</span>
            </div>
            <button class="btn btn-primary btn-purchase" type="button">PURCHASE</button>
        </section>
        <footer class="main-footer">
            <div class="container main-footer-container">
                <h3 class="band-name">BooksCart</h3>
                <ul class="nav footer-nav">
                    <li>
                        <a href="https://www.youtube.com" target="_blank">
                            <img src="assets/images/YouTube Logo.png">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com" target="_blank">
                            <img src="assets/images/i.jpg">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com" target="_blank">
                            <img src="assets/images/Facebook Logo.png">
                        </a>
                    </li>
                </ul>
            </div>
        </footer>
 