
<div class="wrapper">
    <div class="title">
      Edit Form
    </div>
    <div class="form">
      <img src="" alt="">
      <div class="inputfield">
        <label>Profile Photo</label>
        <input type="file" class="input">
     </div> 
       <div class="inputfield">
          <label>Full Name</label>
          <input type="text" class="input">
       </div>  
        <div class="inputfield">
          <label>Mobile No.</label>
          <input type="number" class="input">
       </div>  
       <div class="inputfield">
          <label>Password</label>
          <input type="password" class="input">
       </div>  
      <div class="inputfield">
          <label>Confirm Password</label>
          <input type="password" class="input">
       </div>
        <div class="inputfield">
          <label>Email Address</label>
          <input type="email" class="input">
       </div> 
      <div class="inputfield">
          <label>Date of Birth</label>
          <input type="date" class="input">
       </div> 
      <div class="inputfield">
          <label>Address</label>
          <textarea class="textarea"></textarea>
       </div>
      <div class="inputfield">
        <input type="submit" value="Save" class="btn">
      </div>
    </div>
</div>	
<div class="row inputfield">
    <div class="col-6" style="text-align: center;"><button class="btn btn-info" [routerLink] = "['/app-preview']">Preview Profile</button></div>
    <div class="col-6" style="text-align: center;"><button class="btn-info" [routerLink] = "['/app-store']">Store</button></div>

</div>